DB_ENGINE=postgresql
DB_NAME=attendance_django
DB_USER=postgres
DB_PASSWORD=HanuAI@123
DB_HOST=65.1.191.126
DB_PORT=5432

DEBUG=False
EMAIL_HOST_USER=attendancehanuai@gmail.com
EMAIL_HOST_PASSWORD=edck hdef fqme ayhl
DEFAULT_FROM_EMAIL=attendancehanuai@gmail.com








