--
-- PostgreSQL database dump
--

\restrict rfRbMvhLwoPj6YbIXgW3tpT5Iw1MB3ARoK6TaRfMCQZ428AAVjIbOXi7f9hI0db

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attendance_records (
    id bigint NOT NULL,
    date date NOT NULL,
    check_in_time time without time zone,
    check_out_time time without time zone,
    type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    check_in_location jsonb,
    check_out_location jsonb,
    check_in_photo text,
    check_out_photo text,
    total_hours numeric(4,2) NOT NULL,
    is_half_day boolean NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL,
    office_id character varying(10)
);


--
-- Name: attendance_records_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attendance_records ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: birthday_wishes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.birthday_wishes (
    id bigint NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    receiver_id bigint NOT NULL,
    sender_id bigint NOT NULL
);


--
-- Name: birthday_wishes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.birthday_wishes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.birthday_wishes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: department_office_access; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.department_office_access (
    id bigint NOT NULL,
    department character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    office_id character varying(10) NOT NULL
);


--
-- Name: department_office_access_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.department_office_access ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.department_office_access_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: employee_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_documents (
    id bigint NOT NULL,
    doc_type character varying(50) NOT NULL,
    doc_name character varying(100) NOT NULL,
    doc_number character varying(100),
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


--
-- Name: employee_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_profiles (
    id bigint NOT NULL,
    emergency_contact_name character varying(100),
    emergency_contact_phone character varying(20),
    alternate_number character varying(20),
    bank_account_number character varying(50),
    bank_ifsc character varying(20),
    bank_bank_name character varying(100),
    pan_number character varying(20),
    aadhar_number character varying(20),
    qualification character varying(255),
    certificates_summary text,
    home_address text,
    current_address text,
    date_of_joining date,
    skill_set text,
    reporting_manager character varying(100),
    planned_leaves integer NOT NULL,
    unplanned_leaves integer NOT NULL,
    professional_training text,
    family_details text,
    marital_status character varying(20),
    personal_email character varying(254),
    gender character varying(20),
    date_of_birth date,
    documents_pdf_path character varying(255),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


--
-- Name: employee_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employee_requests (
    id bigint NOT NULL,
    request_type character varying(20) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    reason text,
    status character varying(20) NOT NULL,
    admin_response text,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL,
    reviewed_by_id bigint,
    half_day_period character varying(20)
);


--
-- Name: employee_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employee_requests ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employees (
    id bigint NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    department character varying(20) NOT NULL,
    primary_office character varying(10) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    manager_id bigint
);


--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.employees ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: office_locations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.office_locations (
    id character varying(10) NOT NULL,
    name character varying(100) NOT NULL,
    address text NOT NULL,
    latitude numeric(10,8) NOT NULL,
    longitude numeric(11,8) NOT NULL,
    radius_meters integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: task_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task_comments (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    author_id bigint NOT NULL,
    task_id bigint NOT NULL
);


--
-- Name: task_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.task_comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.task_comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tasks (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    status character varying(20) NOT NULL,
    priority character varying(20) NOT NULL,
    due_date date,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assigned_to_id bigint NOT NULL,
    created_by_id bigint NOT NULL,
    manager_id bigint
);


--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.tasks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: attendance_records; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: birthday_wishes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.birthday_wishes (id, message, is_read, created_at, receiver_id, sender_id) FROM stdin;
\.


--
-- Data for Name: department_office_access; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	attendance	officelocation
8	attendance	employee
9	attendance	employeeprofile
10	attendance	employeedocument
11	attendance	departmentofficeaccess
12	attendance	attendancerecord
13	attendance	task
14	attendance	employeerequest
15	attendance	birthdaywish
16	attendance	taskcomment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: employee_documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: employee_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: employee_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: office_locations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.office_locations (id, name, address, latitude, longitude, radius_meters, is_active, created_at, updated_at) FROM stdin;
79	79 Office	Sector 79, Mohali, Punjab, India	30.68083400	76.71793300	100	t	2026-01-30 16:19:39.328736+05:30	2026-01-30 16:19:39.328736+05:30
105	105 Office	Sector 105, Mohali, Punjab, India	30.65599100	76.68279500	100	t	2026-01-30 16:19:39.332656+05:30	2026-01-30 16:19:39.332656+05:30
\.


--
-- Data for Name: task_comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.task_comments (id, content, created_at, author_id, task_id) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tasks (id, title, description, status, priority, due_date, created_at, updated_at, assigned_to_id, created_by_id, manager_id) FROM stdin;
\.


--
-- Name: attendance_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.attendance_records_id_seq', 97, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: birthday_wishes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.birthday_wishes_id_seq', 1, false);


--
-- Name: department_office_access_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.department_office_access_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: employee_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.employee_documents_id_seq', 1, false);


--
-- Name: employee_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.employee_profiles_id_seq', 1, false);


--
-- Name: employee_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.employee_requests_id_seq', 1, false);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.employees_id_seq', 1, false);


--
-- Name: task_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.task_comments_id_seq', 1, false);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tasks_id_seq', 1, false);


--
-- Name: attendance_records attendance_records_employee_id_date_70016c73_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_employee_id_date_70016c73_uniq UNIQUE (employee_id, date);


--
-- Name: attendance_records attendance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: birthday_wishes birthday_wishes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.birthday_wishes
    ADD CONSTRAINT birthday_wishes_pkey PRIMARY KEY (id);


--
-- Name: department_office_access department_office_access_department_office_id_a61ec36e_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_office_access
    ADD CONSTRAINT department_office_access_department_office_id_a61ec36e_uniq UNIQUE (department, office_id);


--
-- Name: department_office_access department_office_access_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_office_access
    ADD CONSTRAINT department_office_access_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employee_documents employee_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_documents
    ADD CONSTRAINT employee_documents_pkey PRIMARY KEY (id);


--
-- Name: employee_profiles employee_profiles_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_profiles
    ADD CONSTRAINT employee_profiles_employee_id_key UNIQUE (employee_id);


--
-- Name: employee_profiles employee_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_profiles
    ADD CONSTRAINT employee_profiles_pkey PRIMARY KEY (id);


--
-- Name: employee_requests employee_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_requests
    ADD CONSTRAINT employee_requests_pkey PRIMARY KEY (id);


--
-- Name: employees employees_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key UNIQUE (email);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: employees employees_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_username_key UNIQUE (username);


--
-- Name: office_locations office_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_pkey PRIMARY KEY (id);


--
-- Name: task_comments task_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: attendance__date_19baa0_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance__date_19baa0_idx ON public.attendance_records USING btree (date);


--
-- Name: attendance__employe_6b3da7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance__employe_6b3da7_idx ON public.attendance_records USING btree (employee_id, date);


--
-- Name: attendance__status_5b1243_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance__status_5b1243_idx ON public.attendance_records USING btree (status);


--
-- Name: attendance__type_f86ff2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance__type_f86ff2_idx ON public.attendance_records USING btree (type);


--
-- Name: attendance_records_employee_id_4084fb3e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance_records_employee_id_4084fb3e ON public.attendance_records USING btree (employee_id);


--
-- Name: attendance_records_office_id_4ccbd62c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance_records_office_id_4ccbd62c ON public.attendance_records USING btree (office_id);


--
-- Name: attendance_records_office_id_4ccbd62c_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX attendance_records_office_id_4ccbd62c_like ON public.attendance_records USING btree (office_id varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: birthday_wi_created_32f2ce_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX birthday_wi_created_32f2ce_idx ON public.birthday_wishes USING btree (created_at);


--
-- Name: birthday_wi_is_read_37001b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX birthday_wi_is_read_37001b_idx ON public.birthday_wishes USING btree (is_read);


--
-- Name: birthday_wi_receive_13298e_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX birthday_wi_receive_13298e_idx ON public.birthday_wishes USING btree (receiver_id);


--
-- Name: birthday_wishes_receiver_id_94d38fd7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX birthday_wishes_receiver_id_94d38fd7 ON public.birthday_wishes USING btree (receiver_id);


--
-- Name: birthday_wishes_sender_id_908558dc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX birthday_wishes_sender_id_908558dc ON public.birthday_wishes USING btree (sender_id);


--
-- Name: department_office_access_office_id_9bc9b611; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX department_office_access_office_id_9bc9b611 ON public.department_office_access USING btree (office_id);


--
-- Name: department_office_access_office_id_9bc9b611_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX department_office_access_office_id_9bc9b611_like ON public.department_office_access USING btree (office_id varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: employee_do_employe_384c00_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_do_employe_384c00_idx ON public.employee_documents USING btree (employee_id, doc_type);


--
-- Name: employee_documents_employee_id_16f2abfe; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_documents_employee_id_16f2abfe ON public.employee_documents USING btree (employee_id);


--
-- Name: employee_re_employe_6ccd85_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_re_employe_6ccd85_idx ON public.employee_requests USING btree (employee_id);


--
-- Name: employee_re_request_8fa918_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_re_request_8fa918_idx ON public.employee_requests USING btree (request_type);


--
-- Name: employee_re_start_d_469845_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_re_start_d_469845_idx ON public.employee_requests USING btree (start_date);


--
-- Name: employee_re_status_4ff3e7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_re_status_4ff3e7_idx ON public.employee_requests USING btree (status);


--
-- Name: employee_requests_employee_id_0e642262; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_requests_employee_id_0e642262 ON public.employee_requests USING btree (employee_id);


--
-- Name: employee_requests_reviewed_by_id_f46844fd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employee_requests_reviewed_by_id_f46844fd ON public.employee_requests USING btree (reviewed_by_id);


--
-- Name: employees_departm_ef7a1f_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_departm_ef7a1f_idx ON public.employees USING btree (department);


--
-- Name: employees_email_c3f945b9_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_email_c3f945b9_like ON public.employees USING btree (email varchar_pattern_ops);


--
-- Name: employees_email_f66e96_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_email_f66e96_idx ON public.employees USING btree (email);


--
-- Name: employees_is_acti_e91717_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_is_acti_e91717_idx ON public.employees USING btree (is_active);


--
-- Name: employees_manager_id_0674f795; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_manager_id_0674f795 ON public.employees USING btree (manager_id);


--
-- Name: employees_usernam_b4c359_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_usernam_b4c359_idx ON public.employees USING btree (username);


--
-- Name: employees_username_3c33a186_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX employees_username_3c33a186_like ON public.employees USING btree (username varchar_pattern_ops);


--
-- Name: office_locations_id_3121ad92_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX office_locations_id_3121ad92_like ON public.office_locations USING btree (id varchar_pattern_ops);


--
-- Name: task_comments_author_id_439970b0; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX task_comments_author_id_439970b0 ON public.task_comments USING btree (author_id);


--
-- Name: task_comments_task_id_774b925c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX task_comments_task_id_774b925c ON public.task_comments USING btree (task_id);


--
-- Name: tasks_assigne_00feb5_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_assigne_00feb5_idx ON public.tasks USING btree (assigned_to_id);


--
-- Name: tasks_assigned_to_id_942feeaf; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_assigned_to_id_942feeaf ON public.tasks USING btree (assigned_to_id);


--
-- Name: tasks_created_816ff3_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_created_816ff3_idx ON public.tasks USING btree (created_by_id);


--
-- Name: tasks_created_by_id_454154e7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_created_by_id_454154e7 ON public.tasks USING btree (created_by_id);


--
-- Name: tasks_due_dat_0359a9_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_due_dat_0359a9_idx ON public.tasks USING btree (due_date);


--
-- Name: tasks_manager_id_c5f7e6c5; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_manager_id_c5f7e6c5 ON public.tasks USING btree (manager_id);


--
-- Name: tasks_status_031d4c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_status_031d4c_idx ON public.tasks USING btree (status);


--
-- Name: attendance_records attendance_records_employee_id_4084fb3e_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_employee_id_4084fb3e_fk_employees_id FOREIGN KEY (employee_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_records attendance_records_office_id_4ccbd62c_fk_office_locations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_office_id_4ccbd62c_fk_office_locations_id FOREIGN KEY (office_id) REFERENCES public.office_locations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: birthday_wishes birthday_wishes_receiver_id_94d38fd7_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.birthday_wishes
    ADD CONSTRAINT birthday_wishes_receiver_id_94d38fd7_fk_employees_id FOREIGN KEY (receiver_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: birthday_wishes birthday_wishes_sender_id_908558dc_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.birthday_wishes
    ADD CONSTRAINT birthday_wishes_sender_id_908558dc_fk_employees_id FOREIGN KEY (sender_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: department_office_access department_office_ac_office_id_9bc9b611_fk_office_lo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department_office_access
    ADD CONSTRAINT department_office_ac_office_id_9bc9b611_fk_office_lo FOREIGN KEY (office_id) REFERENCES public.office_locations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employee_documents employee_documents_employee_id_16f2abfe_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_documents
    ADD CONSTRAINT employee_documents_employee_id_16f2abfe_fk_employees_id FOREIGN KEY (employee_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employee_profiles employee_profiles_employee_id_099ef5a3_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_profiles
    ADD CONSTRAINT employee_profiles_employee_id_099ef5a3_fk_employees_id FOREIGN KEY (employee_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employee_requests employee_requests_employee_id_0e642262_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_requests
    ADD CONSTRAINT employee_requests_employee_id_0e642262_fk_employees_id FOREIGN KEY (employee_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employee_requests employee_requests_reviewed_by_id_f46844fd_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employee_requests
    ADD CONSTRAINT employee_requests_reviewed_by_id_f46844fd_fk_employees_id FOREIGN KEY (reviewed_by_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees employees_manager_id_0674f795_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_manager_id_0674f795_fk_employees_id FOREIGN KEY (manager_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: task_comments task_comments_author_id_439970b0_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_author_id_439970b0_fk_employees_id FOREIGN KEY (author_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: task_comments task_comments_task_id_774b925c_fk_tasks_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_task_id_774b925c_fk_tasks_id FOREIGN KEY (task_id) REFERENCES public.tasks(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_assigned_to_id_942feeaf_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assigned_to_id_942feeaf_fk_employees_id FOREIGN KEY (assigned_to_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_created_by_id_454154e7_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_created_by_id_454154e7_fk_employees_id FOREIGN KEY (created_by_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_manager_id_c5f7e6c5_fk_employees_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_manager_id_c5f7e6c5_fk_employees_id FOREIGN KEY (manager_id) REFERENCES public.employees(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict rfRbMvhLwoPj6YbIXgW3tpT5Iw1MB3ARoK6TaRfMCQZ428AAVjIbOXi7f9hI0db

